<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foxandgrapes.mapper.FriendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foxandgrapes.pojo.Friend">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="friend" property="friend" />
    </resultMap>

    <select id="getFriendList" resultType="com.foxandgrapes.vo.FriendVo" parameterType="java.lang.String">
        select friend from t_friend where name = #{name}
    </select>

    <delete id="deleteFriend" parameterType="java.lang.String">
        delete from t_friend where name = #{name} and friend = #{friend} limit 1
    </delete>

    <select id="isFriend" resultType="java.lang.Integer" parameterType="java.lang.String">
        select 1 from t_friend where name = #{name} and friend = #{friend} limit 1
    </select>

</mapper>
