<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foxandgrapes.mapper.FriendApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foxandgrapes.pojo.FriendApply">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="apply_name" property="applyName" />
        <result column="status" property="status" />
        <result column="msg" property="msg" />
    </resultMap>

    <select id="applyed" resultType="java.lang.Integer" parameterType="java.lang.String">
        select 1 from t_friend_apply where name = #{name} and apply_name = #{applyName} limit 1
    </select>

    <select id="getFriendApplyListWithNotRespond" resultType="com.foxandgrapes.vo.FriendApplyVo" parameterType="java.lang.String">
        select name, msg from t_friend_apply where apply_name = #{name} and status = 0
    </select>

    <select id="getFriendApplyWithNotRespond" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, name, apply_name, status from t_friend_apply where name = #{name} and apply_name = #{applyName} and status = 0 limit 1
    </select>

</mapper>
